<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/pr2/styles/admin.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="/pr2/index.html">
                    <img src="/pr2/resources/img/logo.png" alt="Logo de la tienda" class="logo">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="/pr2/templates/categorias/mujer.html">MUJER</a></li>
                    <li><a href="/pr2/templates/categorias/hombre.html">HOMBRE</a></li>
                    <li><a href="/pr2/templates/categorias/nina.html">NIÑA</a></li>
                    <li><a href="/pr2/templates/categorias/nino.html">NIÑO</a></li>
                    <li><a href="/pr2/templates/categorias/unisex.html">UNISEX</a></li>
                    <li><a href="/pr2/templates/categorias/mascotas.html">MASCOTAS</a></li>
                </ul>
            </nav>
            <div class="header-icons">
                <button id="logout-btn" class="logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
            </div>
        </div>
    </header>

    <div class="main-content">
        <section class="admin-panel">
            <h2>Panel de Administración</h2>
            <div class="admin-buttons">
                <button id="create-product-btn" class="create-product-btn">Crear Producto</button>
            </div>
            <ul id="products-list" class="products-list"></ul>
        </section>
    </div>

    <footer>
        <div class="footer-container">
            <section id="somos">
                <h3>Somos</h3>
                <p>Somos una tienda web de bolsos llamada 'Bagstyle'.</p>
            </section>
            <section id="contacto">
                <h3>Contacto</h3>
                <p>Email: referencia.bagstyle@gmail.co</p>
                <p>Tel: 608 35 71 97 o Cel: 314-895-7684</p>
            </section>
            <p>&copy; 2024 Bags Style. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/pr2/controllers/admin.js" type="module"></script>
</body>
</html>
